body {
	font-family: "Calibri";
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div.fl-half {
	float: left;
	width: 50%;
	padding: 8px;
}

input[type=number]{
	width: 100%;
	padding: 9px;
}

select {
	width: 80%;
	height: 36px;
	border: none;
}

.button {
	width: 15%;
	background-color: #008CBA;
	padding: 8px 12px;
	color: #ffffff;
	border: none;
}

p.output {
	padding-top: 8px;
	margin: 8px;
	padding: 8px;
}